{% extends "layout.njk" %}

{% block content %}

<h1>Contact</h1>

<div class="container bg-dark">
    <div class="row">
        <form name="form1" id="ff" method="POST" action="envoyer.php">
            <div class="mb-3">
            <span>Name*:</span>
            <input type="Name" class="form-control" id="exampleFormControlInput1" placeholder="Your Name" required>
            </div>
            <div class="mb-3">
            <span>City*:</span>
            <input type="City" class="form-control" id="exampleFormControlInput2" placeholder="Your City" required>
            </div>
            <div class="mb-3">
            <span>Phone Number:</span>
            <input type="Phone Number" class="form-control" id="exampleFormControlInput4" placeholder="Your Phone Number">
            </div>
            <div class="mb-3">
            <span>Email Adress*:</span>
            <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="name@example.com" required>
            </div>
            <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Your Message"></textarea>
            </div>
            <input class="sendButton" type="submit" name="submit" value="Send">
        </form>
    </div>
</div>
{% endblock %}