{% extends "layout.njk" %}
{% block content %}
<center><h1 class="titrePlatform">Platforms</h1></center>
<div class="container">
    <div class="row row-cols-3">
    {% for platform in platforms %}
        <div class="col-12 col-md-6 col-xl-3">
            <div class="card" style="width: 14rem;">
            <img src="{{platform.cover}}" alt="{{platform.name}}">
            <div class="card-body">
                <h5 class="card-title">{{platform.name}}</h5>

            </div>
            <ul class="list-group list-group-flush">
                <a href="/games/{{platform.slug}}" class="btn btn-primary">See More</a>
            </ul>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}