{% extends "layout.njk" %}

{% block content %}
<h1>Games<h1>

{% for game in games %}
<ul>
<li><img src="{{game.cover}}" alt="{{game.name}}">
<a href="/games/{{game.slug}}">{{game.name}}</li>
</ul>
{% endfor %}
{% endblock %}